.card {
  position: relative;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--cardBackgroundColor);
  box-shadow: 0 2px 8px var(--cardShadowColor);
  color: var(--defaultColor);
  transition: box-shadow 150ms ease, transform 150ms ease;

  &:hover {
    box-shadow: 0 4px 16px var(--cardShadowColor);
  }
}

.underlay {
  @add-mixin cover;
}

.overlay {
  @add-mixin linkOverlay;

  position: relative;
}
